.contact-div-main {
	text-align: center;
  display: flex;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  text-align: center;
  color: #ea4335;
  font-size: 65px;
  font-weight: 400;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #868e96;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: black;
  text-shadow: 2px 1px 2px #b5b5b5;
  transition: all 0.3s;
}

.contact-subtitle {
	text-align: center;
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: -4rem;
}

.contact_input {
	max-width: 400px;
	width: 60%;
	height: 25px;
	text-align: left;
	padding: 3px 5px;
	margin: 10px auto;
	border: 1px solid #333;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.contact_form textarea {
	max-width: 400px;
	width: 70%;
	text-align: left;
	padding: 3px 5px;
	margin: 10px auto;
	border: 1px solid #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 100px;
	
}

.contact_btn {
	color: #FFF;
	font-size: 1.1em;
	background: #ea4335;
	padding: 8px 25px;
	text-align: center;
	align-content: center;
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid #ea4335;
	margin-top: 15px;
}

.contact_btn:hover {
	transition-duration: 0.5s;
	border: 2px solid #ea4335;
	color: #ea4335;
	background: #FFF;
}

/* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div {
    display: none;
  }
}
